.downl{
	background-color: #0061FF;
	color: white !important;
}

.downl:hover{
	background-color: #297AFE;
}

.downl *{
	color: white !important;
}


@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

.heading{
	font-family: 'Space Grotesk', sans-serif !important;
	font-weight: 700;
}

