

*{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-family: 'Overpass', sans-serif;
  padding: 0;
  margin: 0;
  color: rgba(30,25,28, .87);
}

.body{
	background-color: #F7FAFC;
}

body{
	background-color: white !important;
}

p, li{
	font-size: 17px;
	line-height: 27px;
	font-weight: 400 !important;
}

nav{
	position: fixed;
	top: 0;
	right: 15px;
	left: 0;
	z-index: 3;
	background-color: white;
	border-bottom: 1px solid #EDE9E3;
}

#nav2{
	background-color: white;
	border-bottom: 1px solid #EDE9E3;
}

nav *{
	font-size: 16px;
	line-height: 21px !important;
	font-weight: 500;
}

.bb{
	border-color: 1px solid rgb(42,48,62);
}

.bd{
	border: 1px solid rgb(42,48,62);
}

h1, h2, h3, .bold {
	font-weight: 500 !important;
	color: rgba(25, 27, 28, 1.0);
}

.line {
	height: 1px;
	border-top: 1px solid #C9C5BE;
}

.u{
	border-bottom: 1px solid #C9C5BE;
	width: max-content;
	line-height: 20px;
	/*color: rgb(25, 27, 28) !important;*/
	color: #297AFE !important;
}

.h{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 3px;
	font-size: 14px !important;
	font-family: monospace !important;
	background-color: #FFCB95;
	color: #005744 !important;
}

#sidebar{
	height: 100vh;
	overflow-y: scroll;
	background-color: #F7F5F2;
	border-right: 1px solid #EDE9E3;
}


#sidebar *{
	line-height: 30px;
	font-size: 15px !important;
}


.overV *{
	line-height: 35px !important;
	font-size: 16px !important;
}

.sd2{
	border-left: none;
}

a{
	color: inherit;
}


code{
	font-size: 14px !important;
	font-family: monospace;
}


.tb .flex:nth-child(even) {
  background: #F7F5F2;
}

.tb .flex{
	padding-left: 10px;
	border-bottom: 1px solid rgba(19,48,95,.1);
	padding-top: 10px;
	padding-bottom: 10px;
}

.border-b{
	border-bottom: 1px solid #EDE9E3;
}

.blue{
	background-color: #0061FE;
}

.smoky{
	background-color: #C8D3DB;
}


.bg{
    background-image: linear-gradient(to left, #FF453B, #FF334E);
}

footer{
	background-color: #EDF2F7;
}

.toogle{
	position: fixed;
	top: 15px;
	right: 20px;
}

.normal *{
	font-weight: 400 !important;
}


.over{
	background-color: #F7F5F2;
}

.overview{
	top: 45px;
	left: 0;
	right: 0;
	background-color: #F7F5F2;
	font-size: 15px !important;
}

.sd2{
	background-color: #F7F5F2;
}


.code{
	background-color: #F7F5F2;
	line-height: 20px !important;
	font-family: monospace !important;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.07) inset;
	font-size: 14px;
	border-radius: 7px !important;
}


@media (max-width: 900px){
	pre {
		overflow-x: scroll;
	}
}

.bod{
	border: 5px solid #13305F;
}

.code-area{
	white-space: pre;
	font-family: monospace !important;
	font-size: 14px !important;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;
	background-color: #F7F5F2;
}

.code-area txt{
	font-size: 14px !important;
	font-family: monospace !important;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.07) inset;
	border-radius: 7px !important;
}


.i{
	font-family:FontAwesome !important;
	color: white !important;
}

.white{
	color: white !important;
}

.alert{
	background-color: rgb(255,203,149);
	color: #005744;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid rgba(0, 0, 0, .1);
}

.alert span{
	color: #005744 !important;
}

.bl{
	border-right: 1px solid #C9C5BE;
}

.br{
	border-color: #C9C5BE;
}


.txt{
	overflow-y: scroll;
	height: 100vh;
}


@media (max-width: 900px){
	body{
		overflow: auto;
	}

	.txt{
		overflow: auto;
		height: auto;
	}

	nav{
		right: 0;
	}

}


@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

.title{
	font-family: 'Space Grotesk', sans-serif !important;
	font-weight: 700 !important;
	font-size: 25px;
	color: black !important;
}

